<html>
    <head>
        <meta charset="utf-8">
        <title>Linky</title>
        <link rel="icon" href="img/icon.png" type="image/png"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lang.js"></script>
        <script src="js/layout-tags.js"></script>
        <script src="js/{{page}}-tags.js"></script>
        <script src="js/change_lang.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/">
                        <img src="img/icon.png" style="max-height: 50px; float: left;"/>
                        <span class="navbar-brand">Linky</span>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    {% set selected = "" %}
                    <li{% if page == "main" %} class="active"{% endif %}>
                        <a href="/">
                            <i class="glyphicon glyphicon-home"></i>
                            <span id="home-text"></span>
                        </a>
                    </li>
                    <li{% if page == "tags" %} class="active"{% endif %}>
                        <a href="/tags">
                            <i class="glyphicon glyphicon-tag"></i>
                            <span id="tags-menu"></span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="col-xs-12">
                        <form action="/" method="get" class="navbar-form">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="" id="search-text" required="required"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        &nbsp;<i class="glyphicon glyphicon-search"></i>&nbsp;
                                    </button>
                                </span>
                            </div>
                        </form>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" type="button" class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span id="language-text"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="langchange">
                        </ul>
                        <script>
                            $.each(lang, function(key, value){
                                selected = "";
                                $("#langchange").append('<li><a href="changelang?id=' + key + '">' + key + '</a></option>');
                            });
                        </script>
                    </li>
                    <li>
                        {% if logged is defined and logged %}
                        <a href="{{logout_link}}">
                            <i class="glyphicon glyphicon-log-out"></i>
                            <span id="logout-link"></span>
                        </a>
                        {% else %}
                        <a href="{{login_link}}">
                            <i class="glyphicon glyphicon-log-in"></i>
                            <span id="login-link"></span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        {% if flash is defined and flash != None and flash|length > 0 %}
            <div class="col-xs-12">
                {% for message in flash %}
                    <div class="alert alert-{{message[0]}}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span id="{{message[1]}}"></span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-xs-12">{% block body %}{% endblock %}</div>
        <div class="col-xs-12">2016 <a href="https://github.com/oknalv/linky">oknalv</a></div>
        <script>
            change_lang(layout_tags, lang, "{{lang}}");
            change_lang(tags, lang, "{{lang}}");
        </script>
    </body>
</html>